---
const { title } = Astro.props;
const props = Astro.props
import { Icon } from 'astro-icon/components'
const items = [
	{
		icon:"",
		name:"Producto 1"
	},
	{
		icon:"",
		name:"Producto 2"
	},
	{
		icon:"",
		name:"Producto 3"
	}
];
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		
		<div class="bg-neutral-900 pt-3 ">
			<div class="flex items-center justify-center">
				<img src="../../public/aliexpress_logo.WEBP" alt="" class="h-16 ml-20">
				<div class="flex bg-white rounded-full relative w-1/3">
					<input type="search" placeholder="iphone 12 pro max" class="h-9 rounded-full  p-5 pr-10 outline-none" />
					<button class=" rounded-full bg-black m-1 top-[2px] right-1 absolute inline-block px-3 text-white p-1">
						<Icon name="mdi:search" class="size-6"/>
					</button>
				</div>
				<div class="w-100 bg-white">
				</div>
				<div class="flex text-white items-center ml-8 cursor-pointer">
					<Icon name="mdi:qrcode" class="size-8  mr-1"/>
					<p class="w-20 text-xs">Download the AliExpress app</p>
				</div> 
				<div class="flex text-white items-center ml-8 cursor-pointer">
					<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 36 36" {...props} class="mr-1 size-6">
						<path fill="#fbd116" d="M32 5H4a4 4 0 0 0-4 4v9h36V9a4 4 0 0 0-4-4" />
						<path fill="#22408c" d="M0 18h36v7H0z" />
						<path fill="#ce2028" d="M0 27a4 4 0 0 0 4 4h28a4 4 0 0 0 4-4v-2H0z" />
					</svg>
					<p class="w-px text-xs">EN/ COP</p>
					
				</div>
				<div class="flex text-white items-center ml-12 cursor-pointer">
					<Icon name="mdi:person-outline" class="size-8 mr-1"/>
					<div class="w-28">
						<p class="text-xs">Welcome</p>
						<strong class="text-xs ">Sign in / Register</strong>
					</div>
				</div>
				<div class="flex text-white items-center ml-1 cursor-pointer">
					<Icon name="mingcute:shopping-cart-1-line" class='size-8 mr-1' />
					<div class="flex-col justify-center w-8">
						<div class="bg-white w-6 h-7/3 flex justify-center text-xs rounded-2xl text-black">
							<strong>0</strong>
						</div>
						<strong class="text-xm">
							Cesta
						</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-neutral-900 flex justify-center mb-2 items-center ">
			
			<ul class="flex text-white gap-8  font-medium items-center">
				<a href="#" class="bg-neutral-600 h-10 flex relative text-lg rounded-full w-56  text-center px-4  text-white items-center group mb-4 mt-4">
					<img src="../../public/menu.svg" alt="">
					Todas las Categorias
					<menu class=" group-hover:block bg-gray-100 text-black w-56 absolute  hidden -left-[1px] rounded-r-3xl rounded-l-3xl -top-[2px] rounded-xl">
						<div class="flex p-2 justify-center">
							<img src="../../public/menu_black.svg" alt="">
							<p class="font-semibold">Todas las Categorias</p>
						</div>
						<ul class="text-start pl-4 pb-4 font-normal">
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">NN</li>
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Superventas</li>
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Mejores Marcas</li>
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Hogar y jardin</li>
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Cabello y Pelucas</li>
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Moda Hombres</li>
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Accesorios</li>
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Electronica</li>
							<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Mas</li>
						</ul>
					</menu>
				</a>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">NN</li>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Superventas</li>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Mejores Marcas</li>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Hogar y jardin</li>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Cabello y Pelucas</li>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Moda Hombres</li>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Accesorios</li>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Electronica</li>
				<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Mas</li>
			</ul>
		</div>
		<div class="flex justify-center">
			<img src="../../public/Sf3af48b690394a6ba6ba44f02b4eca37M.png_.webp" alt="" class="mt-4">
		</div>
		<!-- Contenedor de Ofertas -->
		<section class="pl-40 pr-40 mt-10">
			<div class="grid grid-cols-10 gap-4 ">
				<div class="col-span-4 grid grid-rows-3 gap-4 ">
					<div class="bg-gray-100 items-center text-center rounded-xl row-span-1">
						<div class="flex mt-2">
							<button class="bg-black  text-lg rounded-full  border text-center px-4  text-white items-center w-1/2 m-4 h-12 mb-4 font-bold">Regístrarse</button>
							<button class="bg-white   text-lg rounded-full   border-solid border-[1px] border-black text-center px-4  text-black items-center w-1/2 m-4 ml-0 mb-4 font-bold">Entrar</button>
						</div>
						o continua con
						<div class="flex justify-center items-center pb-2 ">
							<img src="../../public/facebook.png" alt="#" class="h-10">
							<img src="../../public/whats.png" alt="#" class="h-8">
							<img src="../../public/twitter.png" alt="#" class="h-10">
						</div>
					</div>
					<div class="row-span-3 bg-rose-50 p-6 rounded-xl ">
						<p class="font-semibold text-2xl text-red-500">Oferta de Bienvenida</p>
						<p class="">Tu precio exclusivo</p>
						<img class="rounded-3xl w-1/3 " src="../../public/aliejem.webp" alt="">
						<p class="font-semibold text-xl text-red-500">COP 100.300</p>
					</div>
				</div>
				<div class="col-span-6 grid grid-rows-5 ">
					<div class="row-span-3 bg-gray-100 items-center rounded-xl p-4 pl-6">
						<div class="w-full flex">
							<p class="italic font-bold text-3xl text-red-500">Super </p>
							<p class="font-bold text-3xl text-black italic">Ofertas</p>
						</div>
						<p class="">Productos top a precios increibles</p>
						<div class="flex mt-3 pl-16">
							<div class="">
								<img class="rounded-3xl w-3/5 " src="../../public/aliejem.webp" alt="">
								<p class="font-semibold text-xl text-red-500">COP 100.300</p>
							</div>
							<div class="">
								<img class="rounded-3xl w-3/5 " src="../../public/aliejem.webp" alt="">
								<p class="font-semibold text-xl text-red-500">COP 100.300</p>
							</div>
							<div class="">
								<img class="rounded-3xl w-3/5 " src="../../public/aliejem.webp" alt="">
								<p class="font-semibold text-xl text-red-500">COP 100.300</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
<style is:global>
	.items{
		display: flex;
		height: 80px;
	}
	.items div {
		height: 100%;
		max-width: 120px;
		text-align: center;
		/* background-color: red; */
		border: 1px solid gray;
		border-radius: 4px;
		margin-right: 3px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.main_menu {
		height: 40px;
		background-color: #EE4D2D;
		display: flex;
	}
	.main_menu a{
		transition: background 300ms ease-in-out;
		height: 100%;
		display: flex;
		align-items: center;
		color: #fff;
		padding: 0 12px;
		text-decoration: none;
	}
	.main_menu a:hover{
		background-color: #e99c37;
		
	}
	
	.categories{
		height: 80px;
	}
	.banner{
		height: 240px;
	}	
	
	html, body {
		margin: 0;
		padding: 0;
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
